<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<nav class="navbar navbar-expand-lg bg-body-tertiary" th:fragment="menu">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">게시판</a>
        <button aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler"
                data-bs-target="#navbarTogglerDemo02" data-bs-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/post}">글 작성</a>
                </li>
                <li class="nav-item" th:if="${session.user eq null}">
                    <a class="nav-link active" th:href="@{/login}">로그인</a>
                </li>
                <li class="nav-item dropdown" th:if="${session.user ne null}">
                    <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
                       href="#" role="button" th:text="${session.user.nickname}"></a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{/user}">회원정보 수정</a></li>
                        <li><a class="dropdown-item" th:href="@{/logout}">로그아웃</a></li>
                    </ul>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input aria-label="Search" class="form-control me-2" placeholder="Search" type="search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>