<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link href="/css/no.css" rel="stylesheet" type="text/css">
    <title>게시판</title>
</head>
<body>
<nav>
    <ul sec:authorize="!isAuthenticated()">
        <li><a th:href="@{/signup}">회원가입</a></li>
        <li><a th:href="@{/login}">로그인</a></li>
    </ul>
    <ul sec:authorize="isAuthenticated()">
        <li>
            <a th:text="${#authentication.principal.nickname + '님 어서오세요!'}"></a>
            <ul>
                <li><a th:href="@{/post/write}">글 작성</a></li>
                <li><a th:href="@{/logout}">로그아웃</a></li>
            </ul>
        </li>
    </ul>
</nav>
<div>
    <table border="1">
        <thead>
        <tr>
            <th>#</th>
            <th>제목</th>
            <th>이름</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="post : ${posts}">
            <td th:text="${post.id}"></td>
            <td><a th:href="@{'/post/' + ${post.id}}" th:text="${post.title}"></a></td>
            <td th:text="${post.user.nickname}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>