<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<html>

<head th:replace="fragments/header :: header">
    <title>Title</title>
</head>

<body>
<nav th:replace="fragments/menu :: menu"></nav>
<div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">제목</th>
            <th scope="col">닉네임</th>
            <th scope="col">업로드 날짜</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="post : ${posts}">
            <th scope="row" th:text="${post.id}"></th>
            <td><a th:href="@{'/post/' + ${post.id}}" th:text="${post.title}"></a></td>
            <td th:text="${post.nickname}"></td>
            <td th:text="${post.createdDate}"></td>
        </tr>
        </tbody>
    </table>
</div>
<script th:replace="fragments/footer :: footer"></script>
</body>

</html>