<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head th:replace="fragments/header :: header">
    <title>Title</title>
</head>

<body>
<nav th:replace="fragments/menu :: menu"></nav>
<div class="mx-auto p-2" style="width: 500px;">
    <form method="post" th:action="@{/login}">
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="inputEmail3">아이디</label>
            <div class="col-sm-10">
                <input class="form-control" id="inputEmail3" name="username" type="text">
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="inputPassword3">비밀번호</label>
            <div class="col-sm-10">
                <input class="form-control" id="inputPassword3" name="password" type="password">
            </div>
        </div>
        <div class="alert alert-danger" role="alert" th:if="${param.errorMessage ne null}" th:text="${param.errorMessage}"></div>
        <button class="btn btn-primary" type="submit">로그인</button>
        <a class="btn btn-secondary" th:href="@{/signup}">회원가입</a>
    </form>
</div>
<script th:replace="fragments/footer :: footer"></script>
</body>

</html>