<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <meta charset="UTF-8">
    <link href="/css/no.css" rel="stylesheet" type="text/css">
    <title>게시판</title>
</head>
<body>
<div class="c75">
    <form method="post" th:action="@{'/post/' + ${post.id} + '/edit'}">
        <div>
            <label>제목</label>
        </div>
        <input name="title" placeholder="Title" th:disabled="${#authentication.principal.id != post.user.id}" th:value="${post.title}" type="text">
        <div>
            <label>내용</label>
        </div>
        <textarea name="contents" placeholder="Contents" th:disabled="${#authentication.principal.id != post.user.id}" th:text="${post.contents}"></textarea>
        <button th:unless="${#authentication.principal.id != post.user.id}" type="submit">글 수정</button>
    </form>
    <a th:href="@{'/post/' + ${post.id} + '/delete'}" th:if="${#authentication.principal.id == post.user.id}">글 삭제</a>
    <form method="post" th:action="@{'/post/' + ${post.id} + '/comment/write'}">
        <div>
            <label>댓글</label>
        </div>
        <textarea name="contents" placeholder="comment"></textarea>
        <button type="submit">댓글 작성</button>
    </form>
    <div>
        <table>
            <tbody>
            <tr th:each="comment : ${post.comments}">
                <td th:text="${comment.user.nickname}"></td>
                <td th:text="${comment.contents}"></td>
                <td><a th:href="@{'/post/' + ${post.id} + '/comment/' + ${comment.id} + '/delete'}" th:if="${#authentication.principal.id == comment.user.id}">삭제</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
