<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/css/no.css" rel="stylesheet" type="text/css">
    <title>Board</title>
</head>
<body>
<div class="c75">
    <form enctype="multipart/form-data" method="post" th:action="@{/post/upload}">
        <div><label>Title</label></div>
        <input name="title" placeholder="title" type="text">
        <div><label>Contents</label></div>
        <textarea name="contents" placeholder="contents"></textarea>
        <div><label>Files</label></div>
        <input multiple name="postFiles" type="file">
        <button type="submit">Upload</button>
    </form>
</div>
</body>
</html>