<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/css/no.css" rel="stylesheet" type="text/css">
    <title>게시판</title>
</head>
<body>
<div class="c75">
    <form method="post" th:action="@{/post/write}">
        <div><label>제목</label></div>
        <input name="title" placeholder="title" type="text">
        <div><label>내용</label></div>
        <textarea name="contents" placeholder="contents"></textarea>
        <button type="submit">글 작성</button>
    </form>
</div>
</body>
</html>